<footer>
    <h3>Let's build something together.</h3>

    <button id="footer-cta">Contact Me</button>

    <h2><span>Hillary</span><span> Onyechekwa</span></h2>
    <nav>
        <p>&copy; {% year %}</p> 
        <ul>
            <li> <a href="//twitter.com/arqeytekt">Twitter </a></li>
            <li> <a href="//linkined.com/hillonyechekwa">Linkedin </a> </li>
            <li> <a href="//github.com/hillonyechekwa"> Github </a> </li>
            <li> <a href="//vesbuildsthings.hashnode.dev"> Hashnode </a> </li>
            <li>Nigeria</li>
        </ul>
    </nav>
</footer>