<nav class="navigation">
	<img class="logo" src="/assets/satedmaskedhill.svg" alt="hilllogo" />
	<ul class="nav-container-flex">
		<li>
			<a href="/">home</a>
		</li>
		<li>
			<a href="/about">about</a>
		</li>
		<li>
			<a href="/projects">projects</a>
		</li>
		<li>
			<a href="//vesbuildsthings.hashnode.dev">blog</a>
		</li>
		<li>
			<a href="/teaching">teaching</a>
		</li>
		<li>
			<a href="/contact">contact</a>
		</li>
	</ul>
</nav>


<div class="menu-btn">
	<img src="/assets/satedmaskedhill.svg" alt="hilllogo" />
</div>

<aside class="menu-overlay">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/projects">Projects</a></li>
		<li><a href="//vesbuildsthings.hashnode.dev">Blog</a></li>
		<li><a href="/teaching">Teaching</a></li>
		<li><a href="/contacts">Contacts</a></li>
	</ul>
</aside>