---
layout: "base.njk"
---
<main data-barba="container" data-barba-namespace="project">
    <header  class="project-hero">
        <section>
            <a href={{repoUrl}}>View project</a>
            <a href={{siteUrl}}>Visit Website</a>
            <img src={{image}} alt={{imageAlt}} >
            <h3 class="project-title">{{title}}</h3>
        </section>
        <section>
            <p class="project-summary">{{summary}}</p>
            <ul class="project-tech__uses">
            <p class="tech-title">Tech Used</p>
                {% for tag in tech %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
        </section>
    </header>
    <section class="project-details">
        {{content | safe}}
    </section>
</main>