@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');


$family: 'Josefin Sans', sans-serif;
$family2: 'Lato', sans-serif;
$link: 25px;
$title: 5rem;
$body: 1.2rem;
$subtitle: 1.5rem;
$lheight: 1.8rem;
$primary: #0224EE;
$p-dark: #0000BA;
$p-light: #6C52FF;
$secondary:#EECB02;
$s-dark: #B79B00;
$s-light: #FFFE50;
$on-p: #fff; 
$on-s: #2B2F3B;
$surface: #e5e5e5;
$background: #fff;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
}