@import "./global";

button {
    width: 250px;
    height: 80px;
    background: none;
    border: none;
    font-family: $family;
    font-size: $link;
    cursor: pointer;
    font-weight: 700;
}

.primary {
    background-color: $p-light;
    color: $on-p;
}

.secondary {
    background-color: $s-light;
    color: $on-s;
}

.primary:hover {
    background-color: $p-dark;
    a {
        color: $on-p;
    }
}

.secondary:hover {
    background-color: $s-dark;
    color: #000;
    a {
        color: $on-p;
    }
}

.text-btn {
    background-color: none;
    a {
        font-weight: 700;
        color: $secondary;
        height: 100%;
        text-transform: capitalize;
    }
}
button a {
    text-decoration: none;
}

.primary a {
    color: $on-p;
}
.secondary a {
    color: $on-s;
}

.primary a:hover {
    color: $on-p;
}
