@import "./global";

header {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

hgroup {
    background: $p-light;
    color: $on-p;
    padding: 10px;

    h3 {
        font-size: $body;
        font-weight: 300;
        line-height: $lheight;
        font-family: $family2;
    }
}

.avatar {
    justify-self: center;
    align-items: center;
}

.outlink {
    font-family: $family;
    font-size: $body * 2;
    font-weight: 700;
    color: $on-s;
    text-decoration: none;
}

.outlink:hover {
    color: $p-light;
}

.title {
    font-family: $family;
    font-size: $title;
}

.projects h2,.writing > h2 {
    background: $primary;
    padding: 5px;
    color: $on-p;
    inline-size: 400px;
}

.projects {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    margin-bottom: 15rem;
}

.projects p {
    font-family: $family2;
    font-size: $body;
    font-weight: 300;
    line-height: $lheight;
    // inline-size: 500px;
    // overflow-wrap: break-word;
}

.projects-button {
    position: relative;
    justify-self: center;
    align-self: end;
}

.card-wrapper {
    display: grid;
    grid-gap: 40px 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "a . b"
        "c . .";
    grid-template-rows: 50% 50%;
}


.writing a {
    position: relative;
    left: 80%;
}

.writing > h2{
    position: relative;
    left: 70%;
    text-align: right
}
.bc1 {
    grid-area: a;
}
.bc2 {
    grid-area: b;
    position: relative;
    top: 30%;
}
.bc3 {
    grid-area: c;
    position: relative;
    left: 20%;
}

.blog-btn {
    position: relative;
    left: 60%;
}

.community {
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.community p {
    font-family: $family2;
    inline-size: 500px;
    overflow-wrap: break-word;
    font-size: $subtitle;
    font-weight: 300;
}

.community h2 {
    inline-size: 450px;
    overflow-wrap: break-word;
    text-align: right;
    background: $primary;
    padding: 5px;
    color: $on-p;
}
