---
title: "Damn!, can't find this page"
layout: base.njk
---


<main>
	<h2>{{ title }}</h2>
	<p>Sorry about whatever got you here. you can <a href="/">get back</a> to it or go to the <a href="/"> home page </a> </p>
</main>

