---
title: "About"
layout: base.njk
---


<header id="about-hero">
    <article>
        <p>
            I'm Hill, a software engineer from Lagos, Nigeria. 
            I sometimes like to think that programming is how I like to express my creative interests by building functional, user-friendly and aesthetically appealing applications that solve different problems around me.
        </p>
        <p>
            While I have a diploma in computer science, I still enjoy writing, consuming knowledge about history, art, faith and physics and talking about it in my passtime.
        </p>
    </article>
    <article>
        <p>
            When I'm not building more things into the simulation of our existing space-time continum, I spend tiime in my home city in Lagos, Nigeria with my quite large family and friends. 
        </p>
        <img src="/assets/hill4.png" src="a photo of hill" >
    </article>
</header>
<section id="about-content">
    <p>
    I first learned how to program by building things for the web, so when I build I tend to turn to JavaScript (or TypeScript these days), React, or if I'm building fullstack applications, GraphQl in the backend.
    </p>
    <p>
        When I'm not building web applcaitions or interfaces, I tend to tinker in my interest in building software for embedded systems and work towards my aspiration of being an embedded systems engineer/robotics system engineer sometime in the near future.
    </p>
    <img src="/assets/hillz3.png" src="a photo of hill">
</section>
