---
title: "Contacts"
layout: "base.njk"
---
<header id="contacts-hero">
    <h3>
        If you have any interesting projects you'd like me to be a part of, or just want to talk shop and share Ideas, contact me. I love getting involved in open source projects too.
    </h3>
    <img src="/assets/staringbeaniehill.svg" alt="" .
</header>

<section class="form-wrapper">
    <form name="contact" netlify>
        <div class="form-control">
            <label for="name"> Name </label>
            <input type="text" name="name" id="first-name">
        </div>
        <div class="form-control">
            <label for="email"> Email </label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="message"> Message </label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Let's Connect</button>
    </form>
</section>





