---
title: "Teaching"
layout: "base.njk"
---

<main data-barba="container" data-barba-namespace="teaching">
    <header class="teaching-hero">
        <img src="/assets/comm-img-1.jpg" alt="" >
        <h1>Teaching.</h1>
    </header>
    <main id="teaching-content">
        <section>
            <p>
            One way I love to learn is to employ the use of the feyman technique, teaching others how to program to reinforce my own knowledge and find spaces and reasons to know more.
        </p>
        </section>
        <section>
            <p>
            I grow to enjoy teaching pople how to program so I sometimes volunteer to teach young people how to program and serve as a guide and sometimes a mentor to get into the tech ecosystem.
        </p>
    </section>
    </main>
</main>