---
title: "Teaching"
layout: "base.njk"
---

<main data-barba="container" data-barba-namespace="teaching">
    <header class="teaching-hero">
        <h3>Teaching.</h3>
        <p>
            One way I learned was to follow the feyman technique, by teaching others how to program to reinforce my own knowledge and find spaces and reasons to know more.
        </p>
        <p>
            I grow to enjoy teaching pople how to program so I sometimes volunteer to teach young people how to program and serve as a guide and sometimes a mentor to get into the tech ecosystem.
        </p>
        <img src="/assets/comm-img-1.jpg" alt="" >
    </header>
</main>