$media-mobile-s: "only screen and (max-width: 325px)";
$media-mobile-m: "only screen and (max-width: 376px)";
$media-mobile-l: "only screen and (max-width: 426px)";
$media-tab: "only screen and (max-width: 769px)";

//fonts
$gotham: 'Gotham', sans-serif;
$gopher: 'Gopher', sans-serif;
$league: 'League Gothic', sans-serif;


//color
$base: hsl(262, 55%, 17%);
$neutral: hsl(51, 100%, 94%);
$lightbase: hsl(267, 70%, 83%);