$media-mobile-s: "only screen and (min-width: 350px)";
$media-mobile-m: "only screen and (min-width: 65px)";
$media-tab: "only screen and (min-width: 850px)";
$media-laptop-min: "only screen and (min-width: 1240px)";


//fonts
$gotham: 'Gotham', sans-serif;
$gopher: 'Gopher', sans-serif;
$league: 'League Gothic', sans-serif;


//color
$base: hsl(262, 55%, 17%);
$neutral: hsl(51, 100%, 94%);
$lightbase: hsl(267, 70%, 83%);