@use './vars';
@use './globals';




#contacts-hero {
    width: 100%;
    height: 100dvh;
    position: relative;
    

    h3 {
        font-family: vars.$gopher;
        font-size: 1.2em;
        inline-size: 500px;
        position: relative;
        top: 20%;
    }

    img {
        width: 450px;
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 55%;
        transform: rotate(-45deg);
        z-index: -1;
    }
}


.form-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: vars.$neutral;
    border: 1.5px solid vars.$base;
    position: relative;
    z-index: 1;


    .form-control {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: vars.$gopher;
        padding: 5px;
        position: relative;
        margin-bottom: 40px;

        label {
            font-size: .6em;
            position: absolute;
            left: 15px;
            top: 20px;
            border: 1px solid transparent;
            padding: 3px;
            margin: 0;
            background-color: white;
            transition: top 300ms, color 300ms, border-color 300ms, font-size 300ms;
            z-index: 2;
        }

        input {
            border: 1px solid black;
            border-radius: 15px;
            font-family: vars.$gopher;
            width: 500px;
            outline: none;
            padding: 15px 10px;
            position: relative;
            z-index: 1;

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: -5px;
                // left: -5px;
                font-size: 14px;
                border-color: transparent;
                background-color: vars.$neutral;
            }
        }

        textarea {
            padding: 20px;
            position: relative;
            border: 1px solid transparent;
            font-family: vars.$gopher;
            z-index: 1;

            & + label{
                left: 25px;
            }

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: -5px;
                // left: -5px;
                font-size: 14px;
                border-color: transparent;
                background-color: vars.$neutral;
            }
        }
    }
}


form button {
    width: 250px;
    padding: 15px;
    border-radius: 25px;
    font-family: vars.$gopher;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2em;
    border: 1px solid transparent;
    position: relative;
    left: 20%;
    color: vars.$neutral;
    background-color: vars.$base;
    cursor: pointer;

    &:after {
        content: url("/assets/arrow-right-solid.svg");
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 280px;
        border-radius: 50%;
        padding: 13px;
        color: vars.$neutral;
        fill: vars.$neutral;
        background-color: vars.$neutral;
        border: 1px solid vars.$base;
    }
}


.contacts-wrapper{
    padding: 50px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}