@use './vars';
@use './globals';


footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    // padding-top: 20px;
    position: relative;
    top: 100px;
    // background-color: vars.$lightbase;

    h3{
        font-size: 2.7em;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        font-family: vars.$gopher;
    }

    h2{
        font-family: vars.$gopher;
        font-size: 6.4em;
        font-weight: 700;
        position: relative;
        // top: 100px;
        text-align: center;
        margin: 0 auto;
        span{
            display: block;

        }
    }

    button{
        width: 250px;
        padding: 15px;
        border-radius: 25px;
        font-family: vars.$gopher;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.2em;
        position: relative;
        border: 1px solid black;
        background: none;
        position: relative;
        // left: 40%;
        // top: 30px;
        cursor: pointer;

        &:after{
            content: url('/assets/arrow-right-solid.svg');
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
            position: absolute;
            top: 0;
            left: 280px;
            padding: 13px;
        }
    }
}


footer nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
    font-family: vars.$gopher;


    ul{
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        li{
            font-weight: 500;

            a{
                color: black;
            }
        }
    }
}